<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    </head>

    <body>

        <header>
            <div class="">
                Udacity Project
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="http://your_website">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong><h1>Analysis Results:</h1></strong>
                <div id="overlay" onclick="off()">
                    <div id="text">Please Wait.....</div>
                </div>
                <div id="subjectivity"></div>
                <div id="agreement"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="model"></div>
                <div id="score_tag"></div>

            </section>
        </main>

        <footer>
            <p> Contact : he@mare5.com </p>
        </footer>
        <script> // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => { navigator.serviceWorker.register('/service-worker.js'); });
        }
        </script>
    </body>
</html>
